<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.itt.devops.aleksandar.devopsproject" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogMeIn"></activity>
        <activity android:name=".Register"></activity>
        <activity android:name=".Welcome"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="40a3002a1a87f78e6b3d0cff76faf9af61760427" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>